<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{email-base :: head}">
<body>
<div th:replace="~{email-base :: base('Reset Password', ~{::content})}">
    <div th:fragment="content">
        <div class="header">
            <div class="logo">🚀 Prime Access</div>
            <h1>Réinitialisation du mot de passe <span th:text="${name}">User</span>!</h1>
        </div>

        <div class="content">
            <p>Bonjour <span th:text="${name}">User</span>,</p>
            <p>Nous avons reçu une demande de réinitialisation de votre mot de passe</p>
            <p style="margin-top: 20px;">
                <small>Cet OTP ne sera plus valable dans 5 minutes</small>
            </p>

            <div class="security-note">
                <p><strong  th:text="${resetLink}">"CODE OTP"</strong></p>
            </div>
        </div>

        <div class="footer">
            <p>© <span th:text="${year}">2024</span> <span th:text="${company}">Your Startup</span>. All rights reserved.</p>
            <p>Cet email est automatique, merci de ne pas y répondre.</p>
        </div>
    </div>
</div>
</body>
</html>